/www/bitrix/
/www/upload/
/www/local/vendor/
.htaccess
.env
.settings.php
.settings_extra.php
dbconn.php
*.log
*.ini
*.tar
*.txt
*.tar.gz
*.sql.gz
*.xml
.idea/
.DS_STORE
/www/.DS_STORE
/www/.DS_Store
!/docker/php/php.ini



